<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user %}
  <div class="user-card">
    <h2>User Information</h2>
    <div class="card">
      <div class="card-header">
        <img src="https://i.ibb.co/SxW8fm6/Whats-App-Image-2025-01-06-at-00-36-16-cf77a710.jpg" alt="User Profile Picture" class="profile-pic">
        <h3>{{ user.full_name }}</h3>
      </div>
      <div class="card-body">
        <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
        <p><strong>Dance Category:</strong> {{ user.dance_category }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>
      </div>
    </div>
  </div>
{% else %}
  
{% endif %}

</body>
</html>